[submodule ".modules/OpenTabletDriver.External"]
	path = .modules/OpenTabletDriver.External
	url = https://github.com/Mrcubix/OpenTabletDriver.External.git
[submodule ".modules/OpenTabletDriver"]
	path = .modules/OpenTabletDriver
	url = https://github.com/OpenTabletDriver/OpenTabletDriver.git
